html, body, * {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}
board {
    display: flex;
    flex-flow: column nowrap;

    position: relative;
}

@media screen and (max-aspect-ratio:4/3) {
    board {
        width:  80vh;
        height: 80vh;
    }

    .board-field {
        font-size: 30vh;
    }
}

@media screen and (min-aspect-ratio:4/3) {
    board {
        width:  80vw;
        height: 80vw;
    }

    .board-field {
        font-size: 30vw;
    }
}



.board {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #deeee9;
    color: #005480;
}

.board-field {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #005480;
    overflow: hidden;
}

.board-field.board-field_noTopBorder {
    border-top-style: none;
}

.board-field.board-field_noBottomBorder {
    border-bottom-style: none;
}

.board-field.board-field_noLeftBorder {
    border-left-style: none;
}

.board-field.board-field_noRightBorder {
    border-right-style: none;
}

.board-errorList {
    position: absolute;
    top: 2vh;
    right: 1vw;

    background-color: #fd4c5a;
    color: white;

    width: auto;
    height: auto;

    padding: 1vh 2vw;
}

.board-control {
    position: absolute;
    top: 1vh;
    left: 1vw;

    width: auto;
    height: auto;
}

.board-control span {
    background-color: #d9f7ff;
    font-weight: bold;
    padding: 1vh 2vw;
    cursor: pointer;

    width: auto;
    height: auto;
}

.board-screenLock {
    position: absolute;
    background-color: #2e3436;
    opacity: 0.5;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}