<link rel="stylesheet" ng-href="{{ $ctrl.stylePath }}/board.css">
<link rel="stylesheet" ng-href="{{ $ctrl.stylePath }}/loader.css">
<div class="board">
    <div class="board-field"
         ng-repeat="field in $ctrl.board"
         ng-click="$ctrl.move(field)"
         ng-class="{
            'board-field_noTopBorder': field.x === 0,
            'board-field_noBottomBorder': field.x === ($ctrl.size -1),
            'board-field_noLeftBorder': field.y === 0,
            'board-field_noRightBorder': field.y === ($ctrl.size -1)
         }"
         ng-style = "{
            'height': 'calc(100% / {{ $ctrl.size }})',
            'flex'  : '1 1 calc(100% / {{ $ctrl.size }})'
         }"
    >
        <div class="board-field-cellNumber">{{field.x }}, {{ field.y}}</div>
        {{ field.value }}
    </div>

    <div class="board-screenLock" ng-if="$ctrl.screenLock">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
</div>

<div ng-if="$ctrl.fetchErrorList.length" class="board-errorList"  ng-click="$ctrl.reset()">
    <div ng-repeat="error in $ctrl.fetchErrorList">
        {{ error.detail }}
        <br />
        Click here to restart
    </div>
</div>

<div class="board-control">
    <span ng-click="$ctrl.reset()">
        (
            <span ng-repeat="symbol in $ctrl.symbols ">`{{symbol}}`: {{ $ctrl.score[symbol] }}</span>
        )
    </span>
</div>